[2016-01-31 14:38] outofcoffee opened #5 "Docker images missing/out of date for 1.2.x"
Hi @EricWittmann, following the merge of these PRs:

* https://github.com/apiman/apiman-docker/pull/3
* https://github.com/apiman/apiman-docker/pull/4

...the Docker images for 1.2.1 are not yet in Docker Hub.

[code]

Are we able to push these to Docker Hub?

## Current state
* The apiman wildfly8 image is still pointing to 1.1.1: https://hub.docker.com/r/apiman/on-wildfly8/~/dockerfile/
* The jb

[2016-01-31 15:29] EricWittmann commented on #5
I can't push the jboss images to docker hub, but I can push the apiman ones.  I'll do that on Monday (I don't have access to my workstation ATM).  Kick me if I forget to do it. :)

Note: originally we had the apiman/on-wildfly8 image, but were then encouraged to drop that in favor of the jboss images.  Unfortunately my pull requests to the jboss docker repo tend to languish for a long time.  So I

[2016-04-07 22:27] hkeeler commented on #5
Also, there's reference to a `apiman/on-wildfly10` Docker repo in a few places:

* https://github.com/apiman/apiman-docker/tree/master/on-wildfly10#image-accessible-on-docker-hub
* http://www.apiman.io/latest/download.html

...but it doesn't seem to exist.  I only see on-wildfly8 and on-wildfly9 at https://hub.docker.com/r/apiman/.

It looks like the [`Dockerfile`](https://github.com/apiman/apiman

[2016-04-08 13:23] EricWittmann commented on #5
Thanks for the report.  I clearly don't use Docker Hub enough to make it do what I want.  :)  I believe I've updated it and automated builds should be underway now.  I imagine that by the end of the day today everything will be built and available (I hope!).

[2016-04-08 15:51] hkeeler commented on #5
Awesome.  Confirmed a `docker run -it -p 8080:8080 -p 8443:8443 apiman/on-wildfly10` now works.  Thanks!

[2016-04-08 18:34] EricWittmann commented on #5
Welcome!

[2016-04-08 18:34] #5 closed

[2016-08-03 15:13] thomas-siegrist opened #6 "Docker-Image needs root rights"
It seems like the given docker-image needs root rights in order to run properly. In our openshift-cluster we restrict per default root rights. When I run the tocker-image, I get an error, that a directory does not exist. When I start the Image in openshift with root-privileges, it boots-up without an error.

I would expect, that the Image can run without root rights.

[2017-05-15 14:49] lucamaf commented on #6
same issue here with Openshift Origin v.1.5.0

[2017-05-15 14:57] msavy commented on #6
Thanks for the report.

According to @mijaros it's because we're using UIDs where we should be using groups. Will look into it and see if we can fix it ASAP.

[2017-05-15 17:39] msavy commented on #6
Hi, @lucamaf and @thomas-siegrist can you test out PR #8? It seems to work OK now, but I'd like someone to verify it.

[2017-05-15 19:04] msavy commented on #6
Also @mijaros if you can test this at some point that'd be great :)

[2017-05-16 07:01] mijaros commented on #6
@msavy Tried it, and it is working :)

[2017-05-16 07:01] msavy commented on #6
Fantastic. Thanks, Miro!

[2017-05-16 07:03] #6 closed

[2017-05-16 07:33] msavy commented on #6
@thomas-siegrist @lucamaf  The Docker builds are complete. Use the `latest` tag.

[2017-05-16 07:43] msavy opened #9 "Fix OpenShift permissions issue on WF8 and WF8"
See #8

[2017-05-16 09:32] #9 closed

[2017-05-20 14:50] thomas-siegrist commented on #6
Thanks! It works fine now.

[2017-05-20 17:18] msavy commented on #6
Cheers to @jmtd for the tips

[2017-09-26 21:40] jessechahal opened #13 "How to access the Web UI?"
The documentation does not state what the URL path is to access apiman's web ui. Simply going to the root path resolves the default Wildfly start screen. I started a bash terminal in the running container and i did not see any configuration in the standalone.xml to indicate what path to use. Please advise.

[2017-09-26 21:44] msavy commented on #13
/apimanui/

[2017-09-26 21:58] jessechahal commented on #13
Wow thanks for the quick reply. I gave it a try using the default credentials but ended up get a forbidden error. Keycloak seems to be freezing on the final step of authentication through the browser. I also logged into the keycloak admin console and gave the default users some extra permissions from apiman but that did not seem to resolve the issue. The url is currently stuck at `http://localhost

[2017-09-26 22:12] jessechahal commented on #13
Looks like it might have something to do with docker for mac and how this image is configured to run. The stack trace I'm getting from keycloak is:
`
22:10:09,979 ERROR [org.keycloak.adapters.OAuthRequestAuthenticator] (default task-4) failed to turn code into token: java.net.ConnectException: Connection refused (Connection refused)
	at java.net.PlainSocketImpl.socketConnect(Native Method)
	at jav

[2017-10-14 17:34] msavy commented on #13
Have you had any luck resolving this? I use MacOS myself but haven't had
any issues.

On 27 Sep 2017 12:12 am, "Jesse Chahal" <notifications@github.com> wrote:

[2018-04-18 02:01] DevToanNH opened #17 "Change http -> https"
Can you update apiman-docker from http->https?
Example
http://cdn.rawgit.com/apiman/apiman-api-catalog/1.3.1.Final/catalog.json
-> https://cdn.rawgit.com/apiman/apiman-api-catalog/1.3.1.Final/catalog.json
plugin,...
Thanks you 👍

[2018-04-18 11:06] #13 closed

[2018-04-18 11:06] msavy commented on #17
This is fixed in 1.3.2.Final

[2018-04-18 21:06] jessechahal commented on #13
No I never got this working and gave up on Apiman. I'll check back in a year or so and see what the status is than.

[2018-04-18 21:07] msavy commented on #13
Sorry to hear that. Thanks for your feedback

On Wed, 18 Apr 2018, 22:06 Jesse Chahal, <notifications@github.com> wrote:

[2018-04-21 09:08] msavy commented on #17
Resolved.

[2018-04-21 09:08] #17 closed

[2018-05-17 09:54] kolychev1995 opened #18 "Сontainer not started"
When I try to run the container with the command: docker run -it -p 58082:8082 --name APIMan-Vertx -v $PWD/examples/apis:/opt/apiman/apis -v $PWD/examples/configs:/opt/apiman/configs apiman/vertx-standalone sample.yml

I do not understand where to get the file all.json
The image was built in Windows. The version of Docker: 18.03.1-ce
Then the container started in Linux. The version of Docker: 1.13

[2018-05-25 10:11] copitz opened #19 "apiman/vertx-standalone on Docker hub"
Hi,

in the [docs of the vertx standalone](https://github.com/apiman/apiman-docker/tree/master/vertx-standalone) it says that the image is on docker hub but its not. Is this for a particular reason like that its just not meant to be used yet or is it just missing?

Thank you very much,
Christian

[2018-05-25 10:18] msavy commented on #19
Ah, I think it's just a mistake that it must not have been pushed. @pcornish any thoughts, or you ok with me publishing it? I can add you to the org if you like.

[2018-05-25 12:53] copitz commented on #19
Ah, thank you - I just saw that the same applies for the cli image. Did you mean me to add to the org? If yes, sure :)

[2018-05-28 12:33] kolychev1995 commented on #18
I'm trying to run the apiman vertx standalone container.

[2018-05-31 12:46] msavy commented on #18
@pcornish what's your recommended way of providing a customised JSON conf file? I see CONFIG_FILE_PATH. Don't want to try to give advice that's contradictory to your best practices.

https://github.com/apiman/apiman-docker/blob/master/vertx-standalone/files/docker-entrypoint.sh

[2018-05-31 12:47] msavy commented on #18
Sorry, meant to tag in @outofcoffee

[2018-05-31 12:48] msavy commented on #19
Sorry, I meant to tag in @outofcoffee, as he's the original author of the image.

[2018-07-13 13:38] kolychev1995 opened #20 "Failed to publish API."
I use the docker (Docker version 17.03.0-ce, build 60ccb22) APIMan on wildfly 10 1.3.5.Final and Vert.x Gateway 1.3.5.Final Vert.x 3.4.2. I installed vertx gateway into wildfy api manager, but when I am trying to publish api I'm getting error:

[code]

[2018-09-11 15:10] copitz commented on #19
Hi, is there any progress on that?

[2018-11-08 11:02] fabienmifsud opened #21 "HTTPS on a remote server"
Hi,
I'm trying to connect my localhost app to apiMan & its embedded keycloak installed as a docker on a remote server.
I can't connect to apiman/keycloak through http because it is not accessed locally. I'm now trying to connect through https but the self-signed certificate of apiman/keycloak is associated to "localhost" domain instead of its hosting server. That causes the ssl handshake to fail b

[2018-11-08 17:43] EricWittmann commented on #21
Hm - I think the best you **might** be able to do is disable cert validation so that the SSL handshake doesn't fail even though the host doesn't match the cert.  I don't recall if apiman has a way to do that offhand.  @msavy any idea?

[2018-11-22 13:46] sjugge opened #22 "Docker image build failed for 1.5.1.Final"
## Problem

According to [the download docs](http://www.apiman.io/latest/download.html), version 1.5.1.Final is available as Docker image.

However, this tag is missing from the Docker Hub, see:

* https://hub.docker.com/r/apiman/on-wildfly11/tags/
* https://hub.docker.com/r/apiman/on-wildfly10/tags/

It would seem that the builds on Docker Hub failed:

* [apiman/on-wildfly10](https://hub.docker.c

[2018-11-22 13:59] msavy commented on #22
Thanks. I’m not sure why this is happening. I’ve tried rebuilding but the same error happens; the tag is definitely there in the repo, so not sure why it can’t find it.

[2018-11-22 14:02] sjugge commented on #22
It seems to build from **branch**, not **tag**. In this repo no branch by that name exists.

[2018-11-22 14:08] sjugge commented on #22
Another odd observation.

**Docker hub**

Last build on `master` is from a day ago:

* https://hub.docker.com/r/apiman/on-wildfly10/tags/
* https://hub.docker.com/r/apiman/on-wildfly11/tags/

**GitHub**

Last `master` branch commit is from July 25th:

* https://github.com/apiman/apiman-docker/commits/master

[2018-11-22 14:10] msavy commented on #22
The master builds are from apiman/apiman master, not apiman/apiman-docker master

I think the tag error is misleading, and just says branch when it can’t find a tag.

[2018-11-22 14:50] msavy commented on #22
Should be fixed now. Let’s see.

[2018-11-22 15:18] sjugge commented on #22
Build error unfortunately.

[code]

[2018-11-22 15:32] sjugge commented on #22
For now, I'm unblocked as `latest` contains `1.5.1.Final`. But a properly tagged image would be great of course.

[2018-11-22 19:52] msavy commented on #22
Okay, think it's working now. Was my fault, I hadn't pushed the 1.5.1.Final tag.

[2018-11-22 19:58] sjugge commented on #22
Yup, build was successful!

Thanks for the fast follow-up on this @msavy, appreciate it!

[2018-11-22 19:58] #22 closed

[2019-01-08 15:33] michelkaeser commented on #20
Same with `docker run -it -p 8080:8080 -p 8443:8443 apiman/on-wildfly11:1.5.1.Final`

[2019-11-14 12:18] geertschuring opened #23 "Missing docker image: apiman/on-wildfly11:1.5.3.Final"
The instructions on the website mention a docker image that does not seem to exist on docker hub:

[2019-11-14 13:12] geertschuring opened #24 "Failed to start latest docker images: Could not get main file: standalone-apiman.xml"
Both wildfly10 and 11 versions of the latest apiman docker images do not start:

**Wildfly 10:**
[code]

**Wildfly 11:**
[code]

**Used images:**
[code]

[2019-11-14 13:37] EricWittmann commented on #23
You're right - my release script failed for the docker images.  I'm uploading them now.  Thanks!

[2019-11-14 13:37] #23 closed

[2019-11-14 13:38] EricWittmann commented on #24
Please try this again.  I've re-uploaded the docker images.

[2019-11-14 13:43] geertschuring commented on #24
Downloading....

[2019-11-14 13:43] EricWittmann commented on #24
OK give it a try now.

[2019-11-14 13:47] geertschuring commented on #24
It does start now, but throws a bunch of warnings and errors during startup. I can reach the login page, but after entering the credentials it shows an error page.

[code]

The log contains the following:
[code]

[2019-11-14 13:48] geertschuring commented on #24
Im guessing you'd see the same when you run it.

[2019-11-14 13:49] geertschuring commented on #24
On wildfly11 the result is the same.

[2019-11-14 13:50] EricWittmann commented on #24
Confirmed.  Same for me. :(  I'll dig into it.

[2019-11-14 14:26] EricWittmann commented on #24
Hey @volkflo you changed a bunch of stuff in the various DDLs with this commit:

https://github.com/apiman/apiman/commit/1fab896ee7f4a02e033158c21f17592c65d83401

I didn't do a thorough enough job on the review (I got distracted by all the changes to the comments).  Obviously you wanted to add a new `definition_url` to the `api_versions` table.  But what about the rest of the changes?  I realize y

[2019-11-14 14:52] volkflo commented on #24
Hi @EricWittmann,

I hoped that there will no error occurred. Problem was that I could only test this for Elasticsearch.
The main idea was to add a new `definition_url` to the `api_versions` table.
I changed this here:
https://github.com/apiman/apiman/blob/1fab896ee7f4a02e033158c21f17592c65d83401/distro/ddl/src/main/liquibase/current/010-apiman-manager-api.db.tables.changelog.xml#L386

Then I reru

[2019-11-14 14:56] EricWittmann commented on #24
OK that's what I thought, thanks @volkflo . I'm going to revert all of the changes and then manually edit all of the DDLs to only add that new column.  I was never happy with Liquibase as a means to unify the DDLs - it was always a little finicky.  And I don't remember it well enough now to understand why it changed a bunch of column types when you ran it.

[2019-11-14 15:20] volkflo commented on #24
Okay that sounds good.
Maybe there where some changes before that are never transferred to the xml of liquibase?

A comment somewhere would be good that this does not happen again :)

[2019-11-14 16:04] EricWittmann commented on #24
Agreed.  We should just deprecate liquibase entirely since we can simply hand-maintain the DDLs easily enough.  I doubt that significant changes to the DDLs are in the future.

[2019-11-14 19:11] EricWittmann commented on #24
I'm pushing new versions of the docker images now - for a new release of `1.5.4.Final`.

[2019-11-15 08:58] geertschuring commented on #24
@EricWittmann I hate to be the messenger of bad news here, but 1.5.4 does not work either. I wonder how this can happen since you would know this if you try it yourself before pushing it.

[2019-11-15 09:01] geertschuring commented on #24
This is the output I get during startup and login attempt:

[code]

[2019-11-15 13:20] EricWittmann commented on #24
This is getting old for everyone involved.  :)  I have fixed the DDLs and tested it locally (not in docker) and everything worked OK.  Not sure why the docker image is still using the old DDLs.  I'll dig in again.  Sorry everyone, it's been awhile since I've really worked with apiman so I'm rusty!

[2019-11-15 13:28] EricWittmann commented on #24
Well, it seems that if you don't change the Apiman version in the Dockerfile then it will just go ahead and use the old version.  This is what I get for doing too many things at once (and not automating the docker release).  Fixing now.

[2019-11-15 17:24] EricWittmann commented on #24
OK I think this is finally corrected.  I pruned my local docker system and then re-pulled the latest image from docker hub and then started it up.  The DB types are all correct and everything seemed to work OK.  I logged in and was able to create an Org with an API, complete with API Definition URL.  I think we're finally good.  @geertschuring please give it one more try and let me know!

[2019-11-18 10:45] geertschuring commented on #24
Yes it works now. Still quite a lot of warnings during startup, but no errors.

[2019-11-18 10:53] #24 closed

[2019-11-18 11:51] geertschuring opened #25 "Metrics are broken: Missing client.host configuration for ESRegistry"
Running the latest docker image apiman/on-wildfly11.
When clicking on "Metrics" on a ClientApp page the console throws the following error and the webpage shows a never ending loading animation.

[code]

[2019-11-18 12:45] EricWittmann commented on #24
Yes those warnings are very annoying.  That's coming out of jandex (which is a library to index the contents of JARs).  We just need to upgrade to a newer version of Wildfly to make those go away (so that we get a newer version of jandex).

[2019-11-18 13:10] EricWittmann commented on #25
Fixed here:  https://github.com/apiman/apiman/commit/118534a54d2e8ae4e7f681928599504840625902

[2019-11-18 13:10] #25 closed

[2019-11-18 13:13] EricWittmann commented on #25
If you need to workaround this problem in the short term, you would need to modify the `apiman.properties` file found in the `standalone/configuration` wildfly directory.  Specifically, the following lines of config need to be uncommented:  https://github.com/apiman/apiman/blob/master/distro/wildfly11/src/main/resources/overlay/standalone/configuration/apiman.properties#L42-L47

The problem is tha

[2019-11-18 13:14] EricWittmann commented on #25
Also, if this is a blocker (workaround is not viable) we can do another release.

[2019-11-18 13:17] geertschuring commented on #25
For me its not blocking. I'm in a proof of concept fase. Depending on how long the next release will take I can wait for that.

[2019-11-18 13:45] EricWittmann commented on #25
Hopefully I can find some time to upgrade Wildfly as well, so that we can get rid of those annoying startup jandex warnings.

[2019-11-18 14:09] geertschuring commented on #25
Yeah that would be nice. Also, I wonder whether you'd need to keep supporting two versions of wildfly. Perhaps supporting a single version of wildfly/thorntail is enough. To keep things simple.

[2019-11-18 14:16] EricWittmann commented on #25
Yes I agree - that was my plan.  No need to have two very similar versions of Wildfly supported.

[2020-03-02 18:38] bibinvrgs opened #27 "Failed to turn code into token"
apiman/on-wildfly11 on docker returns below error while login to  apimanui

[code]

[2020-03-02 19:13] EricWittmann commented on #27
This is usually related to network routing with docker.  The failure is when the Keycloak auth adapter is trying to make an HTTP call to the Keycloak server in order to turn an auth code into an auth token.  The adapter is code running on the server (in Wildfly) that is trying to make the HTTP call - so the Wildfly application needs to be able to make that call.  Whatever it's trying is clearly fa

[2020-08-13 07:43] volkflo opened #28 "Only keep most recent version of wildfly?"
@EricWittmann As I asked in the other [issue ](https://github.com/apiman/apiman/issues/766#issuecomment-673287804) maybe it would be good to remove one version of wildfly and only keep the latest version.

This will probably decrease the maintenance effort.

Because we do everything in docker we may assist you but our resources are also very limited :(

[2020-08-13 14:35] EricWittmann commented on #28
I'll definitely be doing that here.  It's only problematic for the distro itself (in the main codebase) because of the EAP7->Wildfly10 dependency.

[2020-10-21 20:30] jesseerdmann commented on #20
I am getting this with the current version of apiman/on-wildfly with version 2.0.0 of APIman and 20 of Wildfly.  Any suggestions on what might be causing this and how to fix it?

[2020-10-21 20:40] EricWittmann commented on #20
I just tried the docker image and was able to confirm that the Gateway link is not being properly configured for some reason.  Basically I just ran the docker image and then navigated here (as an admin user):

http://localhost:8080/apimanui/api-manager/admin/gateways/TheGateway

On that page you can click **Test Gateway** to see if the config is correct.  It failed for me:

![image](https://user-i

[2020-10-22 05:16] volkflo commented on #20
@EricWittmann I will look into this today. I am pretty sure I know where to look up this.

[2020-10-22 06:52] volkflo commented on #20
@EricWittmann There is something broken in the configs. The default password is `apiman123!` (this was not changed since 2015 in the keycloak realm.)

https://github.com/apiman/apiman/blame/fbd0fe23c705b27595a5b8530f03ad790df927d8/distro/data/src/main/resources/data/apiman-realm-for-keycloak.json#L39-L47

And the gatway is also correct configured:
https://github.com/apiman/apiman/blame/fbd0fe23c70

[2020-10-22 06:55] volkflo commented on #20
@jesseerdmann For you, the simplest workaround is to change the password to the one Eric mentioned or define your own one in keycloak (which is pretty recommended).

[2020-10-22 13:37] EricWittmann commented on #20
Sorry @volkflo I didn't see this thread prior to commenting on your PR.  If we're confident that the quickstart works on `master` then that's fine.  I didn't realize there is a new keycloak DB.

[2020-10-22 13:43] volkflo commented on #20
@EricWittmann no problem :) It would be great if you could confirm that this works on master branch, too :)

[2020-10-22 15:21] EricWittmann commented on #20
I've confirmed that `master` looks good with respect to the Gateway credentials config.  I also really like the update to the sidebar look and feel - looks much nicer now.

One thing that was slightly annoying was that localhost:8080 is no longer a valid redirect URI.  I'm guessing that's deliberate (it's obviously much more secure).  However, I figured I would mention it:  thoughts on maybe addin

[2020-10-22 15:21] EricWittmann commented on #20
In any case, I'm closing this because it is working on `master` and will be fixed in the next release.

[2020-10-22 15:21] #20 closed

[2020-10-22 15:33] volkflo commented on #20
No, I do not have a problem if you add port 8080 again :)Freundliche GrüßeFlorian VolkAm 22.10.20, 17:21 schrieb Eric Wittmann <notifications@github.com>:

  I've confirmed that master looks good with respect to the Gateway credentials config. I also really like the update to the sidebar look and feel - looks much nicer now.
  One thing that was slightly annoying was that localhost:8080 is no long

[2020-10-22 19:01] jesseerdmann commented on #20
At the moment I am just trying to test out the functionality including pulling the image into our existing Docker compose document to support some new APIs we are adding, so I hadn't changed the passwords, yet.

However, I'm still struggling a bit here.  I went ahead and changed the passwords in Keycloak for the admin and apimanager users as well as the Keycloak admin user.  However, I am still ha

[2020-10-23 05:20] volkflo commented on #20
@jesseerdmann Please try to create a new user for the gateway and assign the role `apipublisher`.
Then remove the part before the username in config like so:
![image](https://user-images.githubusercontent.com/13332383/96959291-f7b54480-14ff-11eb-8163-a3ccc7e60412.png)

[2020-10-23 14:35] jesseerdmann commented on #20
Same result.  I have my system running on port 4443 for reference, but this is what I get from curl on the system (obviously won't be using this password anywhere that is reachable by the internet):

[code]

[2020-10-26 14:01] EricWittmann commented on #20
Please keep us updated on your progress.  I have no theory that could explain what you're seeing!  I'd be very interested to know what is going on.... :)

[2020-12-04 20:51] jesseerdmann opened #30 "apiman-gateway not connecting to default data source with apiman/on-wildfly:latest"
I updated to a the latest docker image today, got rid of my relevant volumes and started a clean container after having been away from setting up a local docker instance for a few weeks.  The hash I have for the image is 789ce218b716.

I have set up a simple echo service and created a client for it within APIMan. When I copy the API endpoint for the client with the API Key as a request parameter I

[2020-12-07 21:06] EricWittmann commented on #30
The `Unable to connect to backend` error indicates that the Gateway was unable to connect to your echo service.  From the stack it looks like it tried to open a standard TCP socket but the connection was refused.  Possibly the echo service isn't running?  Or maybe it's not accessible by the Gateway due to docker networking?

[2020-12-08 12:45] volkflo commented on #30
Maybe you could tell us the API Implementation Endpoint of your Echo-API server.
E.g. "localhost" will not work in docker environments.

[2020-12-08 12:47] volkflo commented on #28
I close this because this is already done

[2020-12-08 12:47] #28 closed

[2020-12-08 12:48] volkflo commented on #21
I think we can close this.
@fabienmifsud if this is still a problem or not solved in the current version of apiman, please reopen this issue :)

[2020-12-08 12:48] #21 closed

[2020-12-08 12:51] volkflo commented on #18
I will close this now.
@kolychev1995 If you have still issues with this, please reopen this issue or create a new one :)

[2020-12-08 12:51] #18 closed

[2020-12-08 12:57] volkflo commented on #19
@EricWittmann What do you think about publishing the standalone image as well? I think shouldn't be much effort.

[2020-12-08 13:16] EricWittmann commented on #19
Works for me.  Shouldn't be much effort at all, assuming it still builds OK. :)

[2020-12-08 17:56] jesseerdmann commented on #30
Oh geeze. Sorry for the misinterpretation.Thanks for setting me straight!

[2020-12-08 17:56] #30 closed

[2020-12-08 18:18] EricWittmann commented on #30
No problemo.

[2021-01-04 16:55] k1th opened #31 "docker-compose'd install fails to restart/up again after making changes"
Dockerfile:

[code]

Compose file:
[code]

After starting successfully and
- setting up Keycloak with
  - new realm
  - client
  - users
  - roles
- creating an API with the Keycloak Plugin (after installing it in the GUI)
- deploying apiman-quickstarts-echo-service-1.3.1.Final.war into Wildfly
- successfully testing the setup

we stopped the running containers and did a `docker-compose up` again.

[2021-01-05 15:30] EricWittmann commented on #31
I have no idea what could cause that, @stianst any ideas on this?

[2021-01-05 15:34] k1th commented on #31
This is very reproducible. Had it 5 times. After that I finished testing because I did not want to enter my test data yet another time :)

[2021-01-05 16:07] volkflo commented on #31
I am a little bit confused as well, but we could try to update keycloak to the latest version. We are now on 10.X. Maybe this is fixed already :)

[2021-01-05 16:11] EricWittmann commented on #31
Worth a shot - I think 12.0.1 is just recently out.

[2021-01-06 11:26] k1th commented on #31
I rebuilt apiman apiman-distro-wildfly-2.0.1-SNAPSHOT-overlay.zip with
`    <version.org.keycloak>12.0.1</version.org.keycloak>`,
created a new docker docker image using that overlay zip and it seems to work now.

[2021-01-06 11:46] volkflo commented on #31
@k1th This sounds good, can you provide a PR with your changes please? :)

[2021-01-06 11:58] k1th commented on #31
yeah, I can do that. Some tests fail though:

[code]

[2021-01-06 12:01] volkflo commented on #31
I think this is not related to keycloak. More a problem with the elasticserach test tool.
If you provide a PR all tests are automatically run on our CI in github. We will see if it fails there too :)

[2021-01-06 13:38] k1th commented on #31
PR done and validated. Tests worked fine in CI.

[2021-01-06 13:38] #31 closed

[2021-03-26 14:11] Pabubung commented on #13
Hello I got some problem. This is the error on access /apimanui:
java.lang.NoClassDefFoundError: java/security/acl/Group
	at org.keycloak.keycloak-wildfly-adapter@10.0.2//org.keycloak.adapters.wildfly.WildflyAuthenticationMechanism.createRequestAuthenticator(WildflyAuthenticationMechanism.java:49)
	at org.keycloak.keycloak-wildfly-adapter@10.0.2//org.keycloak.adapters.wildfly.WildflyAuthentication

[2021-03-26 14:16] volkflo commented on #13
@Pabubung Can you please add which version you are trying to use?

[2021-03-26 14:20] msavy commented on #13
Google suggests this might be a problem with Keycloak when run on newer
versions of Java. Can you try Java 8 or Java 11

[2021-03-26 14:37] Pabubung commented on #13
@volkflo im using apiman-distro-wildfly-2.0.0.Final-overlay from github

[2021-03-26 14:40] Pabubung commented on #13
This is my java version:
C:\Users\CTI>java -version
java version "1.8.0_281"
Java(TM) SE Runtime Environment (build 1.8.0_281-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.281-b09, mixed mode)

[2021-03-26 15:07] Pabubung commented on #13
@msavy  I'm sorry, I'm newbie in using java program. Do you mean I should install jdk 8 or jdk 11?

[2021-03-26 15:54] Pabubung commented on #13
I solved this problem after installing jdk 11. Thanks a lot, for now I am trying to using APIMAN on my project. Hope you guys stay safe and keep healthy @msavy @volkflo

[2021-03-27 07:43] Pabubung commented on #20
![image](https://user-images.githubusercontent.com/38039071/112713884-19c94d80-8f0a-11eb-85eb-4531f1045e63.png)

and in console:
Failed to load resource: the server responded with a status of 500 (Internal Server Error)

Hello friends, I got this error when I try to publish my first API. Any solution to solve this problem? Thank you

[2021-03-27 07:45] Pabubung commented on #20
I run apiman 2.0.0 final overlay for wildfly 20.0.1 . Thank you

[2021-03-27 07:46] msavy commented on #20
Look in the network tab of your developer console and see what the details
of the failed network request is when you attempt to publish.

[2021-03-27 08:05] Pabubung commented on #20
This is details I got on terminal:

WARN  [org.keycloak.events] (default task-15) type=LOGIN_ERROR, realmId=Apiman, clientId=apiman-gateway-api, userId=0f238557-35a5-4767-9a75-aa06988f82e9, ipAddress=127.0.0.1, error=invalid_user_credentials, auth_method=openid-connect, grant_type=password, client_auth_method=client-secret, username=apimanager, authSessionParentId=ce5b7240-dfba-4920-ab9f-b21078ddd

[2021-03-29 06:55] volkflo commented on #20
This seems that some of the credentials may be wrong.
Can you go to Gateways -> The Gateway -> and press the "Test" button as described [here](https://apiman.gitbooks.io/apiman-production-guide/content/production-guide/manager/manager.html#_point_the_api_manager_to_the_api_gateway):
![image](https://user-images.githubusercontent.com/13332383/112797812-3da4a480-906c-11eb-93b6-bde87d7faf6e.png)

The

[2021-04-05 08:10] righettod commented on #20
Hi,

I have just run the docker command from the course (no creds changed):

[code]

All seems OK (I can create org, api, plan, etc) but I cannot publish an API so I have performed the test above and it failed:

![image](https://user-images.githubusercontent.com/1573775/113552518-87563780-95f6-11eb-93bb-8a0514efc06c.png)

Below is an export of the configuration of my instance to reproduce the prob

[2021-04-05 08:32] Pabubung commented on #20
Thanks, I solved this issue by create new user, in this comment
[https://github.com/apiman/apiman-docker/issues/20#issuecomment-714918483](url)

[2021-04-05 08:34] Pabubung commented on #20
I solved this problem by creating new user. Like your comment before. Thanks

[2021-04-05 08:36] Pabubung commented on #20
@righettod maybe creating new user can help you

[2021-04-05 08:43] righettod commented on #20
@Pabubung Thank for the advice 😃
Where can I assign a role to the new created user ?

[2021-04-05 08:56] Pabubung commented on #20
Sign into your keycloack page (localhost:8080/auth), make sure you're in the apiman realm. Check realm on top left corner.
Go to manage > users. And then you can create user and manage role there

[2021-04-05 09:04] righettod commented on #20
@Pabubung It has solved the issue, thank a lot !!!!!!!!!!!!!

[2021-04-07 09:57] danieleMarenco commented on #20
i don't understand where is the default user and password for Keycloak(https://localhost:8443/auth)
i try with admin/admin but is incorrect.

[2021-04-07 11:05] righettod commented on #20
@danieleMarenco Default creds are `admin / admin123!`

[2021-07-29 12:33] volkflo commented on #19
We will provide updated images on dockerhub / ghcr soon!

[2021-07-29 12:33] volkflo commented on #27
I think this question is answered. If not feel free to open an issue again :)

[2021-07-29 12:33] #27 closed

[2021-07-30 09:04] volkflo opened #38 "Unify Base Images"
We should decide on a base JDK for builds and a small and light JRE image for runtime.

[2021-08-05 12:12] msavy opened #42 "Include Dockerfiles for Tomcat, WildFly, & Vert.x"
Relates to https://github.com/apiman/apiman/issues/985

[2021-08-05 12:14] #42 closed

[2021-08-05 14:26] msavy commented on #38
Basically any version of Java will work fine. However, my preferences are:

- Use the same version Java to make our lives easier (latest TLS?).
- Use a distro that has Shenandoah GC. If you don't use it, then it has no negative impact, but it has plenty of good use-cases for the gateway (low latency for anyone doing stuff with large heap or lots of GC). AdoptOpenJDK and Adoptium I think should be

[2021-08-06 13:28] volkflo commented on #38
Yes, I would go with the LTS version of java.
For the migration-assistant and the new gateway image, I used the slim JRE images from adoptopenjdk.
Wildfy and Tomcat are official images.

[2021-08-06 13:35] msavy commented on #38
I'm personally happy to go with Adopt for all our images because they are backed by Red Hat, IBM, TomiTribe Microsoft, Alibaba, etc.

One other thought I had last night was that we could consider compiling our CLI tools with GraalVM or similar to really squash them down in size to a couple of MB.

[2021-08-09 07:30] volkflo commented on #38
I would wait till Adoptium releases docker build under the new name and then we could switch.
But I would stay with the official wildfly/tomcat images for now or switch to bitnami for widfly/tomcat because they have good and secure written docker base images.

[2021-08-24 11:01] volkflo commented on #38
We probably have to wait a while and follow the discussion if we do not want to build the jre ourselves https://github.com/adoptium/temurin-build/issues/2683

[2021-08-30 09:25] renovate[bot] opened #47 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Update openjdk Docker tag to v18](../pull/36)
 - [ ] [Update tomcat Docker tag to v10](../pull/43)

---

- [ ] Check this b

[2021-08-31 12:34] volkflo opened #50 "Include Developer Portal in docker-compose.yml"
Include the developer portal into the quickstart.

[2021-09-28 12:30] paoloaq opened #53 "Persistent apiman/on-wildfly"
Hello everyone,
first of all thank you for the great job done with APIMAN!

Is there an easy way (volumes?) to make the `apiman/on-wildfly` version persistent?
At each container reboot all the Keycloak and APIMAN configurations are lost.

Thank you so much

[2021-09-28 12:49] volkflo commented on #53
Hi @paoloaq,

please try to mount the path `/opt/jboss/wildfly/standalone/data` into a volume.
Per default, the data should not be lost during reboot but on container recreate.

Please note that this docker image should not be used for production setups.
We will provide a more stable docker-compose configuration shortly.

[2021-09-28 13:07] msavy commented on #53
(Might also be worth testing out the pull request if you want to provide feedback -- https://github.com/apiman/apiman-docker/pull/46)

[2021-10-01 15:48] paoloaq commented on #53
Sorry, my fault! I use Docker Swarm and I didn't know it recreates containers after rebooting the node.

Since I need the swarm I tried to mount a volume for the folder `/opt/jboss/wildfly/standalone/data`: `docker run -v /home/username/apiman_volume:/opt/jboss/wildfly/standalone/data -it -p 8443:8443 apiman/on-wildfly`

However the JBoss exception is thrown:
[code]

I tried deleting [the command

[2021-10-02 06:53] paoloaq commented on #53
Hi, solved the JBoss exception by setting chmod on the host's volume folder.
Thanks!

[2021-10-02 06:53] #53 closed

[2021-10-02 09:54] msavy commented on #53
Thanks for sharing your solution to benefit others who might encounter the same scenario 👍

[2021-11-29 10:11] ncasaux opened #56 "Incorrect Dockerfile for wildfly-manager ?"
Hello!

When I simply run `docker run -it -p 8443:8443 apiman/wildfly-manager`, I have errors related to the datasource:

`09:57:26,880 ERROR [stderr] (Thread-125) Caused by: javax.naming.NameNotFoundException: datasources/apiman-manager -- service jboss.naming.context.java.jboss.datasources.apiman-manager`

I think it could be related to the fact that the apiman-ds.xml file is removed in the [Doc

[2021-11-29 11:02] volkflo commented on #56
Hi @ncasaux.

thanks for opening this issue and the interest in our docker images.

Unfortunately, the current docker images are not totally ready to use.
We are currently working on some changes in the main project to get the `on-wildfly` image working.
The `on-tomcat` images should work already.

Please note:
All images are currently flagged as latest.
Once they are ready we will release them wi

[2021-11-29 11:55] ncasaux commented on #56
Thanks for your reply @volkflo

Actually I thought the images labelled as "Production grade" were ready to use, and to be honest, I managed to have a complete and successfull containerized setup with postgres, keycloak, wildfy-manager, vertx-gateway, elasticsearch, all wired together. I had to do some minor ajustements though...

I plan to have a similar installation on production in a few months!

[2021-12-08 18:37] msavy opened #58 "Add warnings to deprecated Docker images"
Print a deprecation warning for images no longer maintained as we seem to have a lot of people still accidentally using them.

[2021-12-22 17:30] msavy commented on #58
Done

[2021-12-22 17:30] #58 closed

[2022-05-10 10:34] msavy opened #72 "Allow user to set default user passwords"
- Could also consider randomising `admin` and `apimanager` passwords if no default is provided?
- Could consider setting password as temporary/require reset?

[2022-05-11 07:49] volkflo commented on #72
I would change this in the KC (of course only in the setups we ship with KC) so that we force a user to change the password after first login.
Note: This was already present in a downstream version of apiman and a lot of people complained as this is a additional step if you do development.

[2022-05-11 09:27] msavy commented on #72
We could allow setting the passwords explicitly (can do it via the Keycloak REST API + Apiman API). That would follow the typical pattern you see in docker images of allowing a password to be set via env var, otherwise randomise and print to console.

e.g. (names purely for example)

[code]

I guess instead of launching Apiman directly we'd just have a script in Shell/JBang/Ruby or whatever, and w

[2022-07-18 08:41] KwanchaiJc opened #81 "Failed to publish API."
Hi everyone, i found this error via apimanui when i publish new api. What i do wrong?
[apiman.log](https://github.com/apiman/apiman-docker/files/9130571/apiman.log)

Info
- Apiman-2.2.3.Final
- Apache Tomcat/9.0.64
- Connecting via Mysql5.7 not elasticsearch
- Created tables via apiman-gateway_mysql5.ddl, apiman_mysql5.ddl already
- Add mysql-connector-java-5.1.33.jar to /opt/tomcat/lib already

!

[2022-07-18 10:05] msavy commented on #81
Are you using one of the docker images?

[2022-07-18 10:08] #81 closed

[2022-07-18 10:09] KwanchaiJc commented on #81
Sorry @msavy i posted to wrong board

[2022-07-18 18:10] msavy commented on #56
@ncasaux would you be willing to make some contributions to the docker project from what you have learned? That would help the project a lot.

[2022-07-27 17:44] msavy commented on #56
This should be fixed now (by me/my company) @ncasaux .

I would still greatly appreciate if you could make some contributions, though, from what you have learned...

[2022-07-27 17:44] #56 closed

[2022-07-27 17:46] msavy commented on #19
I believe I've done this now.

Should be on DockerHub and GHCR

[2022-07-27 17:46] #19 closed

[2022-08-01 08:45] ncasaux commented on #56
Hello @msavy ,

At that time, I managed to have a wildfly manager + wildfly gateway + keycloak + elasticsearch + postgres. From what I see in the docker files, the gateway on wilfdly is not a thing anymore ?
On what topic would you like me to have a look ?

[2022-08-01 08:48] msavy commented on #56
I'm not aware that any images have been deleted. The "on-wildfly" image
still should be published, which includes the WildFly gateway.

On Mon, 1 Aug 2022, 09:46 Nicolas CASAUX, ***@***.***> wrote:

[2022-08-10 19:57] msavy commented on #50
Done as part of https://github.com/apiman/apiman/issues/2230

[2022-08-10 19:57] #50 closed

[2022-09-02 02:13] budiholn opened #97 "ERROR [io.apiman.gateway.engine.jdbc.PollCachingJdbcRegistry]"
I'm using apiman on a multi node container, but after a few days of running apiman, the following issue appears:
ERROR [io.apiman.gateway.engine.jdbc.PollCachingJdbcRegistry] (JdbcRegistryCacheInvalidator) SQL problem encountered while running latest version query: This connection has been closed. Query: SELECT version FROM gw_dataversion Parameters: []: java.sql.SQLException: This connection has

[2022-09-02 13:16] msavy commented on #97
Please open a ticket on the main Apiman repo and fill in the full information in the "bug" ticket type.

[2022-09-02 13:17] #97 closed

[2022-11-04 18:16] Kazun3500 opened #106 "error on docker compose files or missing instructions"
Hello.

I have some problems to run docker compose with apiman and keycloak from this repository. As i understand i must to do some other things except execute "docker compose ..setup..." and "docker compose up " because docker-compose.yml file has strings like this "image: apiman/wildfly-manager:${project.version}" which causes error
[code]
Also in this file exists bind directive to file "$PWD/da

[2022-11-04 23:32] msavy commented on #106
You need to run mvn clean install first. You are looking at the development
branch. It has not been officially released yet.

On Fri, 4 Nov 2022, 18:16 Maxim Bich, ***@***.***> wrote: